@import './../../styles/variables';
@import './../../styles/mixins';

.Modal {
background: $color-white;
border: 1px solid $color-grey-5;
box-shadow: 0px 10px 92px rgba(210, 207, 238, 0.2), 0px 5px 11.5198px rgba(131, 128, 168, 0.14);
border-radius: 4px;
width: 100%;
position: absolute;
top: 0;
left: 0;
@include flex-column;
align-items: center;
}
