@import './../../../styles/mixins';

.Content {
    margin-top: 100px;
}

.Sort {
    margin: 100px 0 16px 0;
    width: 100%;
    @include flex-row;
    justify-content: flex-end;

    label {
        font-weight: 700;
    }

    select {
        border: transparent;
        text-decoration: underline;
    }

    option {
        border: none;
        height: 26px;
        width: 131px;
        outline: none;
    }
}


  
